@font-face {
  font-family: 'Montserrat-Bold';
  src: url('app/fonts/Montserrat-Bold.eot');
  src: url('app/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/Montserrat-Bold.woff') format('woff'),
     url('app/fonts/Montserrat-Bold.ttf') format('truetype'),
     url('app/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('app/fonts/Montserrat-Regular.eot');
  src: url('app/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/Montserrat-Regular.woff') format('woff'),
     url('app/fonts/Montserrat-Regular.ttf') format('truetype'),
     url('app/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('app/fonts/PlayfairDisplay-Italic.eot');
  src: url('app/fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/PlayfairDisplay-Italic.woff') format('woff'),
     url('app/fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
     url('app/fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('app/fonts/RalewayRegular.eot');
  src: url('app/fonts/RalewayRegular.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/RalewayRegular.woff') format('woff'),
     url('app/fonts/RalewayRegular.ttf') format('truetype'),
     url('app/fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}
