@mixin a {
 display: block;
 text-decoration: underline;
 font: 16px $mr, sans-serif;
 color: $nav;
}

@mixin team {
  font: 18px $mr, sans-serif;
  color: $nav;
}

@mixin ig {
  font: 14px $rr, sans-serif;
  color: $ig;
  cursor: pointer;
}

@mixin btn {
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: $ars;
  border: none;
  outline: none;
  background: $w;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin h3 {
  text-transform: uppercase;
  font: 18px $mr, sans-serif;
}

@mixin span {
  display: block;
  margin: 0.5em 0 1em 5em;
}

@mixin button {
  padding: 17px 31px;
  background: $nav;
  text-transform: uppercase;
  font-weight: bold;
  color: $w;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.5s ease;
 &:hover {background: $yel;}
}
