$w: #fff;
$nav: #00b0ff;
$navtr: rgba(0, 176, 255, 0.8);
$spn: #00d1fe;
$bd: #cccccc;
$ul: #d9d9d9;
$yel: #f2d800;
$abs: rgba(247, 247, 247, 0.7);
$ig: #8c8c8c;
$ars: #0022ff;
$upd: #787878;

$mb: 'Montserrat-Bold';
$mr: 'Montserrat-Regular';
$plf: 'PlayfairDisplay-Italic';
$rr: 'RalewayRegular';
