/*RESET CSS BEGINER*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: 14px sans-serif;
vertical-align: baseline;
/*max-width: 100%;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
ul li {
list-style-type: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

img {
  max-width: 100%;
}

a, a:hover {
text-decoration: none;
color: #000;
}

html {height: 100%;}

body {
  height: 100%;
  background-color: #fff;
}

.left {
float: left;
}

.right {
float: right;
}

.overflow {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
content: " ";
display: table;
}
.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}

.text-right {text-align: right;}
.text-left {text-align: left;}

.none {display: none;}
/*RESET CSS END*/

.container {
  margin: 0 auto;
  max-width: 1170px;
}
// IMPORT BEGINNER
@import "app/import/variables";
@import "app/import/mixin";
@import "app/import/fonts";
// IMPORT END

// FONTS BEGINNER
// FONTS END

                   // HEADER BEGINNER
header {
  height: 155%;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 178px;
  background: url(../img/bg-header.jpg) no-repeat center center;
  background-size: cover;

  input#btn-menu {display: none;}
  label.lbl-menu {
  display: none;
  width: 30px;
  height: 30px;
  padding: 5px 14px 13px 15px;
  background: $nav;
  border: 3px solid $w;
  & span {
    font-size: 30px;
    color: $w;
    cursor: pointer;
  }
  }

  p.menu {
    display: none;
  }

  nav.menu {
    p {
      font-family: $mb, sans-serif;
      font-size: 34px;
      display: inline-block;
      margin-right: 130px;
    }
    ul {
      margin-left: 30px;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: inline-flex;
      li {
        margin-right: 25px;
        &:nth-child(6) {margin-right: 0;}
        a {
          display: block;
          font-family: $mr, sans-serif;
          padding: 7px 10px;
          text-transform: uppercase;
          transition: background 0.5s ease;
          &:hover {background: $nav;}
        }
      }
      div.social {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-left: 4em;
          a {
          display: block;
          width: 37px;
          height: 37px;
          margin-right: 10px;
          background: url(../img/social-icons.png) no-repeat 0 0;
          &:last-child {margin-right: 0;}
        }
        a.fb:hover {background-position: -109px 0;}
        a.in {background-position: -35px 0;}
        a.in:hover {background-position: -148px 0;}
        a.ml {background-position: -72px 0;}
        a.ml:hover {background-position: -185px 0;}
      }
    }
  }

  section.ride-wave {
    display: block;
    margin: 148px 0;
    text-align: center;
    h1 {
      font-family: $plf;
      font-size: 50px;
    }
    h2 {
      margin-top: 13px;
      font-family: $plf, sans-serif;
      font-size: 24px;
    }
  }



section.slideshow-container {
  max-width: 1030px;
  position: relative;
  margin: 0 auto;
  .mySlides {
      display: none;
  }
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 11%;
  right: 0;
  width: auto;
  // margin-top: -22px;
  padding: 10px;
  background: $yel;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: -3%;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: $nav;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.numbertext {
  position: absolute;
  top: 18%;
  right: 0;
  padding: 8px 12px;
  color: $w;
  background: #000;
}
 section.boards {
   display: block;
   max-width: 1030px;
   height: 603px;
   margin: 0 auto;
   background: url(../img/Corner.png) no-repeat 0 0 $w;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
 .left-boards {
   position: relative;
   display: -webkit-inline-flex;
   display: -moz-inline-flex;
   display: -ms-inline-flex;
   display: -o-inline-flex;
   display: inline-flex;
   justify-content: flex-end;
   align-items: center;
   width: 49%;
   height: 603px;
   ul{
     li{
       input {display: none;}
       input#a1:checked ~ img {display: block;}
       input#a2:checked ~ img {display: block;}
       input#a3:checked ~ img {display: block;}
       input#a4:checked ~ img {display: block;}

       input#b1:checked ~ img {display: block;}
       input#b2:checked ~ img {display: block;}
       input#b3:checked ~ img {display: block;}
       input#b4:checked ~ img {display: block;}

       input#c1:checked ~ img {display: block;}
       input#c2:checked ~ img {display: block;}
       input#c3:checked ~ img {display: block;}
       input#c4:checked ~ img {display: block;}

       input#d1:checked ~ img {display: block;}
       input#d2:checked ~ img {display: block;}
       input#d3:checked ~ img {display: block;}
       input#d4:checked ~ img {display: block;}
       input:checked + label {outline: 3px solid $nav}
       label {
         display: block;
         width: 60px;
         height: 60px;
         margin-bottom: 3px;
         cursor: pointer;
         outline: 1px solid $bd;
         background: url(../img/little-img.png) no-repeat 0 0;
         &.lbl-img2 {background-position: -68px 0;}
         &.lbl-img3 {background-position: -140px 0;}
         &.lbl-img4 {background-position: -210px 0;}
       }

       img {
         position: absolute;
         top: 80px;
         left: 70px;
         display: none;
         width: 68%;
         height: 470px;
         background: url(../img/boards-img.png) no-repeat 0 0;
         &.img2 {background-position: -336px 0;}
         &.img3 {background-position: -672px 0;}
         &.img4 {background-position: -1008px 0;}
       }
     }
   }
 }
 .right-boards {
   position: relative;
   display: inline-block;
   width: 49%;
   height: 540px;
   padding-top: 47px;
   float: right;
   background: url(../img/Boards.png) no-repeat 103% 0;
 h3 {
   font: 20px $mb, sans-serif;
 }
  span.raiting {
    display: block;
    margin: 17px 0 43px 0;
    cursor: pointer;
  }
  article.description {
    height: 240px;
    ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      width: 72%;
      border-bottom: 1px solid $ul;
    li {
      margin-right: 43px;
      &:last-child {margin-right: 0;}
      input {display: none;}
      input#descr:checked ~ p {display: block;}
      input#featrs:checked ~ p {display: block;}
      input#dims:checked ~ p {display: block;}

      input#descr1:checked ~ p {display: block;}
      input#featrs1:checked ~ p {display: block;}
      input#dims1:checked ~ p {display: block;}

      input#descr2:checked ~ p {display: block;}
      input#featrs2:checked ~ p {display: block;}
      input#dims2:checked ~ p {display: block;}

      input#descr3:checked ~ p {display: block;}
      input#featrs3:checked ~ p {display: block;}
      input#dims3:checked ~ p {display: block;}
      input:checked + label {border-bottom: 2px solid $nav;}
      label {
        display: block;
        font: bold 14px $rr, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
      }
    p {
      position: absolute;
      display: none;
      top: 36%;
      left: 0;
      width: 397px;
      font: 16px $rr, sans-serif;
    }
    }
    }
  }

  article.price {
    display: block;
  span {
    margin-right: 50px;
    font: bold 24px $rr, sans-serif;
  }
  button {
    @include button;
  }
  }

  a.view {
    display: block;
    margin-top: 51px;
    text-decoration: underline;
    font: 16px $mr, sans-serif;
    color: $nav;
  }
 }
 }
}
  section.about-us {
    display: block;
    height: 150px;
    margin-top: 180px;
    text-align: center;
  p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10vw;
    color: $abs;
    letter-spacing: 44px;

  }
  }
}

                 // HEADER END
              //MAIN BEGINNER
//ABOUT-US-IMG BEGINNER
section.img-about-us {
  display: block;
  margin-top: 17em;

img {
  max-width: 100%;
}
}


//ABOUT-US-IMG-END

//WE ARE BEGINNER
section.we-are {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 404px;
  flex-wrap: wrap;
 div.left-we-are  {
   display: -webkit-inline-flex;
   display: -moz-inline-flex;
   display: -ms-inline-flex;
   display: -o-inline-flex;
   display: inline-flex;
   justify-content: flex-end;
   width: 48%;
   margin-top: -300px;
   background: $w;
 }
}

div.descr-surf {
  display: block;
  width: 307px;
  padding: 100px 60px 0  0;
 h3 {
   @include h3;
 }
 span {
  @include span;
 }
 p {
   font: 12px/20px $plf;
 }
 a {
   @include a;
   margin-top: 70px;
 }
}

div.video {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  width: 51%;
  a {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    max-width: 100%;
    margin: -80px 0 0 70px;
    overflow: hidden;
    background: url(../img/surfer.jpg) no-repeat 50% 50%;
  span {
    display: inline-block;
    width: 144px;
    height: 144px;
    background: url(../img/player.png) no-repeat 0 50%;
    &:hover {background-position: -152px 0;}
  }
  }
}

//WE ARE END

//OUR TEAM BEGINNER
section.team-bg {
  position: relative;
  padding: 103px 0 186px 100px;
  background: url(../img/bg-our-team.png) no-repeat;
  }
section#slider {
  width: 1000px;
  height: 390px;
  overflow: hidden;
}
ul#polosa {
  position: relative;
  left: 0;
  width: 2128px;
  margin-bottom: 100px;
  transition: all ease 1s;
 li {
  //  display: inline-block;
  position: relative;
   width: 266px;
   height: 283px;
   padding-top: 35px;
   background: $w;
   float: left;
   box-shadow: 8px 10px 50px rgba(0, 0, 0, 0.3);
   border: 1px solid rgba(0, 0, 0, 0.2);
   text-align: center;
   border-radius: 3px;
   transition: background 0.5s ease;
   &:hover {background: $nav;}
   &:hover h3 {color: $w;}
   &:nth-child(2n+1) {z-index: 0;}
   &:nth-child(2n+3) {margin-left: -20px;}
   &:nth-child(2n+2) {
     margin: 40px 0 0 -20px;
     z-index: 2;
   }
  div.image {
// display: inline-block;
  padding-bottom: 23px;
  a {
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    background: url(../img/our-team.png) no-repeat 3% 25%;
    border: 2px solid $w;
    border-radius: 50%;
  &.malia {background-position: -110px 0;}
  &.ian {background-position: -220px 0;}
  &.macy {background-position: -366px -12px;}
  }
  }

  h3 {
    @include team;
  }
  p.ig {
    @include ig;
  }
  span.line {
    display: inline-block;
    width: 31px;
    height: 8px;
    margin: 12px 0;
    background: url(../img/Rating.png) no-repeat 0 -16px;
  }

  p.loc {
    @include ig;
    span {
      display: inline-block;
      margin-right: 6px;
      width: 14px;
      height: 14px;
      background: url(../img/Rating.png) no-repeat -35px -17px;
    }
  }
 }
}
button#slider-left {
   top: 36%;
   left: 3%;
  @include btn;
 }

button#slider-right {
  top: 36%;
  right: 0;
  @include btn;
}

button#slider-left:hover,
button#slider-right:hover {
  background: $yel;
  transition: background 0.5s ease;
}

//OUR TEAM END

//LATEST UPDATES BEGINNER
div.center {
  text-align: center;
h3 {@include h3;}
span{
  display: block;
  margin-top: 18px;
}
}

ul.posts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 43px 0;
  li {
    width: 317px;
    height: 354px;
    margin-right: 5px;
  &:last-child {margin-right: 0;}
  &:hover {
    box-shadow: 8px 10px 50px rgba(0, 0, 0, 0.3);
    color: $ars;
  }
  a {
    display: block;
    max-width: 317px;
    height: 215px;
    background: url(../img/latest-updates.jpg) no-repeat 0 0;
  &.wave {background-position: -317px 0;}
  &.beach {background-position: -636px 0;}
  }

  p {
    padding: 20px 51px;
    font: 16px $rr, sans-serif;
  }
  }
}

section.latest-updates {
  button {
    display: block;
    margin: 0 auto;
    @include button;
  }
}
//LATEST UPDATES END

//WIDGETS BEGINNER
section.widgets {
  margin-top: 180px;
}

section.instagram {
  // max-width: 630px;
 img {width: 600px;}
}

ul.inst {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: -1em;
  max-width: 630px;
  li {
    display: block;
    a {
      display: block;
      width: 300px;
      height: 309px;
      background: url(../img/instagram.png) no-repeat;
    }
  }
}

div.inst-follow {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  width: 51%;
 a {
   display: inline-block;
   width: 30px;
   height: 30px;
   margin: 20px;
   background: url(../img/social-icons.png) no-repeat -223px 0;
 }
h2, p {
   align-self: center;
 }
 h2 {
   margin-right: 20px;
   text-transform: uppercase;
   font: bold 24px $rr, sans-serif;
   color: $nav;
 }
 p {
   font: 16px $rr, sans-serif;
 }
}
//WIDGETS END
              //MAIN END

// MEDIA SCREENS BEGINNER

             //SECTION OUR TEAM BEGINNER
//MIN-WIDTH 891PX MAX-WIDTH 1162PX
@media screen and (min-width: 891px) and (max-width: 1162px){
  section.our-team {margin-top: 5em;}
  section#slider {
    width: 730px;
    margin: 0 auto;
  }

  section.team-bg {
    padding: 103px 0 186px 0;
  }
}
//MIN-WIDTH 630PX MAX-WIDTH 891PX
@media screen and (min-width:630px) and (max-width: 891px) {
  section.our-team {margin-top: 5em;}
  section#slider {
    width: 500px;
    margin: 0 auto;
  }

  section.team-bg {
    padding: 103px 0 186px 0;
  }
}

@media screen and (max-width: 630px) {
  section.our-team {margin-top: 20em;}
  section#slider {
    width: 280px;
    margin: 0 auto;
  }

  section.team-bg {
    padding: 103px 0 186px 0;
  }

  button#slider-left {
     top: 0;
     left: 30%;

   }

  button#slider-right {
    top: 0;
    right: 30%;

  }
}
                //SECTION OUR TEAM END


//MAX-WIDTH: 894 PX
@media screen and (max-width: 894px) {
  header {
    padding: 0;
  }

  section.head {
    background: $nav;
  }

  header label.lbl-menu {
    display: block;
  }
  header nav.menu ul li {
    margin-right: 0;
    text-align: center;
  }

  header p.menu {
    display: block;
    text-align: center;
    vertical-align: middle;
  }

 nav.menu {
    position: absolute;
    width: 70%;
    // height: 100%;
    margin-left: -70%;
    background: $navtr;
    -webkit-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
  }

header nav.menu p {
    display: block;
    margin-right: 0;
    text-align: center;
  }

  header nav.menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }

  header nav.menu ul div.social {
    margin-right: 1em;
    margin-left: 0;
    justify-content: center;
  }

 input#btn-menu:checked ~ nav.menu {
    margin: 0;
  }

  div.video {
    // margin-top: 30em;
  }

}

//MIN-WIDTH: 548PX AND MAX-WIDTH: 1126PX
@media screen and (min-width: 548px) and (max-width: 1126px) {
header section.slideshow-container {
  max-width: 500px;
.prev {
  right: 3%;
}
}

 header section.slideshow-container section.boards {
   max-width: 500px;
   height: 1230px;
 }
 header section.slideshow-container section.boards .left-boards {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

  li {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    margin-right: 3px;
  img {
    top: 2%;
    left: 2%;
  }
  }
  }
 }
 header section.slideshow-container section.boards .right-boards {
   width: 100%;
   float: none;
 }
 header section.about-us {
  margin-top: 50px;
  height: 50px;
 }
 section.img-about-us {
   margin-top: 60em;
 }
  section.we-are div.left-we-are {
    margin-top: 0;
  }

  div.video a {
    margin: 0;
  }

 }


//MIN-WIDTH:398 AND MAX-WIDTH: 548PX
 @media screen and (min-width: 398px) and (max-width: 548px) {
 header section.slideshow-container {
   max-width: 380px;
  .prev, .next {
    top: -3%;
    right: 80%;
  }
  .prev {
    right: 88%;
  }
  .numbertext {
    top: -2%;
    right: 50%;
  }

 }



  header section.slideshow-container section.boards {
    max-width: 380px;
    height: 1200px;
  }
  header section.slideshow-container section.boards .left-boards {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
   ul {
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;

   li {
     display: -webkit-inline-flex;
     display: -moz-inline-flex;
     display: -ms-inline-flex;
     display: -o-inline-flex;
     display: inline-flex;
     margin-right: 3px;
   img {
     top: 0;
     left: 0;
     width: 88%;
   }
   }
   }
  }
  header section.slideshow-container section.boards .right-boards {
    width: 90%;
    float: none;
    background: none;
  article.description ul li {
    margin-right: 10px;
    p {
    width: 300px;
    }
   }

  }
  header section.about-us {
    display: none;
  }

  section.img-about-us {
    margin-top: 60em;
  }
  section.we-are div.left-we-are {
    width: 100%;
    margin-top: 0;
  }

  div.descr-surf {
   margin-left: 30%;
    width: 100%;
    padding: 10px 0 0 0;
  }

  div.video {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
  }

  div.video a {
    margin: 0;
  }


  }


  //MAX-WIDTH: 398PX
   @media screen and (max-width: 398px) {
   header section.slideshow-container {
     max-width: 380px;
    .prev, .next {
      top: -3%;
      right: 76%;
    }
    .prev {
      right: 88%;
    }
    .numbertext {
      top: -2%;
      right: 50%;
    }
   }



    header section.slideshow-container section.boards {
      max-width: 380px;
      height: 1200px;
    }
    header section.slideshow-container section.boards .left-boards {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
     ul {
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;

     li {
       display: -webkit-inline-flex;
       display: -moz-inline-flex;
       display: -ms-inline-flex;
       display: -o-inline-flex;
       display: inline-flex;
       margin-right: 3px;
     img {
       top: 0;
       left: 0;
       width: 95%;
     }
     }
     }
    }
    header section.slideshow-container section.boards .right-boards {
      width: 90%;
      float: none;
      background: none;
    article.description ul li {
      margin-right: 10px;
      p {
        top: 40%;
        width: 300px;
      }
     }
    }
    header section.about-us  {
      display: none;
    }
    section.img-about-us {
      display: none;
    }

    section.we-are {
      margin-top: 70em;
    }

    section.we-are div.left-we-are {
      width: 100%;
      margin-top: 0;
    }

    div.descr-surf {
     margin-left: 10%;
      width: 100%;
      padding: 10px 0 0 0;
    }

    div.video {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
    }

    div.video a {
      margin: 0;
    }
    }
// MEDIA SCREENS END
