/*RESET CSS BEGINER*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
/*max-width: 100%;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
ul li {
list-style-type: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

a, a:hover {
text-decoration: none;
color: #000;
}

html {height: 100%;}

body {
  height: 100%;
  font: 14px/18px 'Times New Roman', Times, sans-serif;
  background-color: #fff;
}

.left {
float: left;
}

.right {
float: right;
}

.clearfix::before,
.clearfix::after {
content: " ";
display: table;
}
.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}

.text-right {text-align: right;}
.text-left {text-align: left;}

.none {display: none;}
/*RESET CSS END*/

.container {
  margin: 0 auto;
  max-width: 1170px;
}
// IMPORT BEGINNER
@import "app/import/variables";
@import "app/import/mixin";
// IMPORT END


                   // HEADER BEGINNER
header {
  height: 100%;
  width: 100%;
  padding-top: 34px;
  background: url(../img/bg-header.jpg) no-repeat center center;
  input#btn-menu {display: none;}
  label {
  display: block;
  width: 30px;
  height: 30px;
  padding: 16px 14px 6px 15px;
  border: 3px solid $w;
  & span {
    font-size: 30px;
    color: $w;
    cursor: pointer;
  }
  }

  nav.menu {
    p {
      display: inline-block;
      margin-right: 130px;
      font-weight: bold;
      font-size: 34px;
    }
    ul {
      margin-left: 30px;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: inline-flex;
      li {
        margin-right: 25px;
        &:nth-child(6) {margin-right: 0;}
        a {
          display: block;
          padding: 7px 10px;
          text-transform: uppercase;
          transition: background 0.5s ease;
          &:hover {background: $nav;}
        }
      }
      div.social {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-left: 4em;
          a {
          display: block;
          width: 37px;
          height: 37px;
          margin-right: 10px;
          background: url(../img/social-icons.png) no-repeat 0 0;
          &:last-child {margin-right: 0;}
        }
        a.fb:hover {background-position: -109px 0;}
        a.in {background-position: -35px 0;}
        a.in:hover {background-position: -148px 0;}
        a.ml {background-position: -72px 0;}
        a.ml:hover {background-position: -185px 0;}
      }
    }
  }
}

                 // HEADER END
